@page "/"

    <div style="color:white">
        <h1>Bem vindo!</h1>
        <br />
        Procure no menu no canto superior direito para calcular o valor a receber.
        <br />
        <br />
        <br />
        <br />
        <br />
        <p><img src="imagens/iZF2Pnw-700x700-1.jpg" alt="image" class="col-12" /></p>
    </div>
